.tabla-carrito{
    margin: 2rem 1rem;
} 
.button-buy {
    align-items: center;
    background-clip: padding-box;
    background-color: #02b517;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-buy:hover,
  .button-buy:focus {
    background-color: #24be39;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-buy:hover {
    transform: translateY(-1px);
  }
  
  .button-buy:active {
    background-color: #00c80d;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
.button-return {
    align-items: center;
    background-clip: padding-box;
    background-color: black;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-return:hover,
  .button-return:focus {
    background-color: rgb(81, 76, 76);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-return:hover {
    transform: translateY(-1px);
  }
  
  .button-return:active {
    background-color: #00c80d;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  .choose-btns{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
  }
  .total{
    display: flex;
    justify-content: flex-end;
    margin:1rem 2rem
  }